@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

html {
  font-family: 'Roboto', sans-serif;
}

.hidden {
  opacity: 0;
  transition: all 0.5s ease;
}


:root {
  --bg: #21212b;
  --bg-card: #2f2f39;
  --bg-card-dark: #22222a;
  --orange-tl: #EAAD58;
  --white: #f6faf6;
  --white-blue: #a3a7be;
  --line: #606571;
}


body {
  margin: 0 auto;
  background-color: var(--bg);
  color: white;

}
hr {
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  border: none;
  height: 1px;
  background-color: #3e404d;
}

a {
  text-decoration: none;
  font-weight: 400;
}

.main-container {
  max-width: 900px;
  height: 100vh;
  margin: 0 auto;
}

.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-space-between {
  justify-content: space-between;
}
.justify-space-around {
  justify-content: space-around;
}
.align-center {
  align-items: center;
}
